nodered_flow.json
[{"id":"8af925d.0ff5fd8","type":"http in","z":"f6624720.d93fd8","name":"get amounts","url":"/nums","method":"get","upload":false,"swaggerDoc":"","x":270,"y":480,"wires":[["17fad468.dda78c"]]},{"id":"14b519db.a6dd36","type":"http in","z":"f6624720.d93fd8","name":"/sms Handle SMS","url":"/sms","method":"post","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["1e655776.4ff309"]]},{"id":"4a6a1124.29057","type":"http response","z":"f6624720.d93fd8","name":"","statusCode":"","headers":{},"x":1190,"y":140,"wires":[]},{"id":"11036489.a1564b","type":"function","z":"f6624720.d93fd8","name":"Responder","func":"if(msg.statusCode != 200){\n    msg.statusCode = 200;\n    msg.headers = {\n        \"content-type\":\"text/xml\"\n    };\n    msg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response><Message>Could not reach network, please try again.</Message></Response>'\n    return msg;\n}else{\n    var json = JSON.parse(msg.payload)\n    msg.statusCode = 200;\n    msg.headers = {\n        \"content-type\":\"text/xml\"\n    };\n    msg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response><Message>Processing Request ID: '+json.ConversationID+'</Message></Response>'\n    return msg;\n}","outputs":1,"noerr":0,"x":1050,"y":140,"wires":[["4a6a1124.29057"]]},{"id":"b1087501.3a0e48","type":"http in","z":"f6624720.d93fd8","name":"/mpesa Handle SMS","url":"/mpesa","method":"post","upload":false,"swaggerDoc":"","x":130,"y":240,"wires":[["87a237f4.504d68","f60b3549.ac9578"]]},{"id":"9fb00f74.2c52b","type":"http response","z":"f6624720.d93fd8","name":"","statusCode":"","headers":{},"x":830,"y":240,"wires":[]},{"id":"6329531b.f4814c","type":"function","z":"f6624720.d93fd8","name":"Reply To M-Pena","func":"msg.statusCode = 200;\nmsg.headers = {\n    \"Content-Type\":\"application/json\"\n}\nmsg.payload = {\n    \"ResponseCode\": \"00000000\",\n    \"ResponseDesc\": \"success\"\n  }\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":240,"wires":[["9fb00f74.2c52b"]]},{"id":"87a237f4.504d68","type":"debug","z":"f6624720.d93fd8","name":"","active":true,"console":"false","complete":"true","x":290,"y":280,"wires":[]},{"id":"17c80dfb.9ce572","type":"http request","z":"f6624720.d93fd8","name":"","method":"use","ret":"txt","url":"","tls":"","x":890,"y":140,"wires":[["11036489.a1564b","5d9151ac.d39d1"]]},{"id":"1e1a097b.858e57","type":"function","z":"f6624720.d93fd8","name":"Responder","func":"var json = JSON.parse(msg.payload)\nvar hostUrl = global.get('host')+'/mpesa'\nmsg.token = json.access_token;\nmsg.statusCode = 200;\nmsg.headers = {\n    \"content-type\":\"application/json\",\n    \"Authorization\":'Bearer ' + msg.token\n};\nmsg.url = 'https://sandbox.safaricom.co.ke/mpesa/b2b/v1/paymentrequest'\nmsg.payload = {\n    \"Initiator\": \"testapi752\",\n    \"SecurityCredential\": \"fzkeMmJ3iSmafc75thyGOYDtfOKG818sKqVDHOznW1vzsK+1CVFpFdPdDNASdRaoUfi54GpaF0Nn1EBokA5w9jlXUd7o2oMsod1+5UMfjYu7H+RWR4V/2GZbuVumE4mWdSMdtm3yUmc94lsd8vUTGPBsmJYtM+/VhBQg9kySROg9xtyL+nhh9pLw20yyqlXK2U3X7tbRmSEbgvKxShHjtLoisCohhvgqWvjVOZBzBFYonyPGxQljtTJJSbDu4Pm/LawGiKV+Q3Zm5PuwA+3d86mCBZ/H8A4MZFXANq8JcbPOMCLHAajmFB3wY1Ucxw5nAw+UG19mowx5wSEaMPICwA==\",\n    \"CommandID\": \"DisburseFundsToBusiness\",\n    \"SenderIdentifierType\": \"1\",\n    \"RecieverIdentifierType\": \"4\", \n    \"Amount\": \"100\",\n    \"PartyA\": \"600752\",\n    \"PartyB\": \"600000\",\n    \"AccountReference\": \"\",\n    \"Remarks\": \"testing\",\n    \"QueueTimeOutURL\": hostUrl,\n    \"ResultURL\": hostUrl\n}\nmsg.method = \"POST\"\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":140,"wires":[["17c80dfb.9ce572"]]},{"id":"91d85a13.29d188","type":"inject","z":"f6624720.d93fd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":215,"y":409,"wires":[["17fad468.dda78c"]]},{"id":"1e655776.4ff309","type":"function","z":"f6624720.d93fd8","name":"Responder","func":"\n var s = msg.payload.Body\n var nums = s.match(/\\d+/g).map(Number);\nglobal.set(\"tmp_amount\",{\"amount\":nums[0], \"num\":nums[1], \"message\":\"No message attached.\", \"from\":msg.payload.Body.To, \"route\":\"in\", \"date\":new Date()} );\nglobal.set('sendTo', msg.payload.From);\n\nmsg.headers = {\n    \"content-type\":\"application/json\",\n    \"Authorization\":'Basic b0pRRDZKVE9TcnJJMVZoaGRwdHBzeVFvUFFRVWhnRGU6RVhnUWxOS2hWT1phSTc1Rw=='\n};\nmsg.url = 'https://sandbox.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials'\nmsg.method = \"GET\"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["c002caef.30fc48","86abce44.c9e82"]]},{"id":"c002caef.30fc48","type":"http request","z":"f6624720.d93fd8","name":"","method":"use","ret":"txt","url":"","tls":"","x":530,"y":140,"wires":[["1e1a097b.858e57"]]},{"id":"5d9151ac.d39d1","type":"debug","z":"f6624720.d93fd8","name":"","active":true,"console":"false","complete":"true","x":1030,"y":180,"wires":[]},{"id":"f60b3549.ac9578","type":"function","z":"f6624720.d93fd8","name":"Reply To Twilio","func":"msg.transID = msg.payload.Result.TransactionID;\n\nmsg.url = \"https://api.twilio.com/2010-04-01/Accounts/ACcc77b6ab80950fd0323565a2d0d6a62c/Messages.json\"\nmsg.headers = {\n    \"Authorization\":\"Basic QUNjYzc3YjZhYjgwOTUwZmQwMzIzNTY1YTJkMGQ2YTYyYzpjYTBlYTJlZjkzNjU1MWJkNmNiZmNiNjYyYzFjNGNhNA==\",\n    \"Content-Type\":\"application/x-www-form-urlencoded\"\n}\nvar t = global.get('tmp_amount')\nt.transID = msg.payload.Result.TransactionID\nmsg.payload = {\n    \"To\": global.get('sendTo'),\n    \"From\":\"+12015089492\",\n    \"Body\":\"Successfully Received Payment of \"+t.amount+\" to \"+t.num+\" from \"+ t.from+\" with the following message: \" + t.message\n}\n\n\nglobal.set(\"amount\", t);\nnode.send([null, {payload:t}]);\n\nmsg.method=\"POST\"\nnode.send([msg,null]);","outputs":"2","noerr":0,"x":320,"y":240,"wires":[["5de49f22.c810f","cb120062.751cf"],["832862af.2958c"]]},{"id":"5de49f22.c810f","type":"http request","z":"f6624720.d93fd8","name":"","method":"use","ret":"txt","url":"","tls":"","x":490,"y":240,"wires":[["6329531b.f4814c"]]},{"id":"cb120062.751cf","type":"function","z":"f6624720.d93fd8","name":"add to blockchain","func":"msg.url = 'http://192.168.0.5/bloc/v2.2/users/npo1/44e8bf3f4b62b5d293e283bf891556e0fab55860/send?resolve=true'\nmsg.headers = {\n    \"content-type\": \"application/json;charset=utf-8\",\n    \"accept\": \"application/json\"\n}\nmsg.payload = {\n    \"toAddress\":\"a72b1a4a31cdceee0adce14ab695354d6f73ddbf\",\n    \"value\": (global.get('tmp_amount').amount / 100),\n    \"password\":\"npo1\"\n};\nmsg.method=\"POST\"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["637b5578.ec031c"]]},{"id":"637b5578.ec031c","type":"http request","z":"f6624720.d93fd8","name":"","method":"use","ret":"txt","url":"","tls":"","x":690,"y":280,"wires":[[]]},{"id":"17fad468.dda78c","type":"function","z":"f6624720.d93fd8","name":"Responder","func":"var a = global.get('amount');\nif(a.hasOwnProperty('amount')){\n    msg.payload = a\n    global.set('amount', {})\n}else{\n    msg.payload = {}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":480,"wires":[["7f67d512.6587bc"]]},{"id":"7f67d512.6587bc","type":"http response","z":"f6624720.d93fd8","name":"","statusCode":"","headers":{},"x":630,"y":480,"wires":[]},{"id":"86abce44.c9e82","type":"debug","z":"f6624720.d93fd8","name":"","active":true,"console":"false","complete":"false","x":510,"y":180,"wires":[]},{"id":"ed483c39.35e52","type":"http in","z":"f6624720.d93fd8","name":"/sms Wallet","url":"/wallet","method":"post","upload":false,"swaggerDoc":"","x":150,"y":680,"wires":[["cc26bf48.6ab76"]]},{"id":"cc26bf48.6ab76","type":"function","z":"f6624720.d93fd8","name":"Responder","func":"\nglobal.set(\"tmp_amount\",{\"amount\":msg.payload.amount, \"num\":msg.payload.num, \"from\":msg.payload.from, \"message\":msg.payload.message, \"date\":new Date(), \"route\":\"out\"} );\nglobal.set('sendTo', msg.payload.sendTo);\n\nmsg.headers = {\n    \"content-type\":\"application/json\",\n    \"Authorization\":'Basic b0pRRDZKVE9TcnJJMVZoaGRwdHBzeVFvUFFRVWhnRGU6RVhnUWxOS2hWT1phSTc1Rw=='\n};\nmsg.url = 'https://sandbox.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials'\nmsg.method = \"GET\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":680,"wires":[["fddb5e5.8a89ca","e59d7cc2.e7de6"]]},{"id":"fddb5e5.8a89ca","type":"http request","z":"f6624720.d93fd8","name":"","method":"use","ret":"txt","url":"","tls":"","x":570,"y":680,"wires":[["210c2e52.cbd4c2","decc7c7f.993ec"]]},{"id":"e59d7cc2.e7de6","type":"debug","z":"f6624720.d93fd8","name":"","active":true,"console":"false","complete":"false","x":550,"y":720,"wires":[]},{"id":"210c2e52.cbd4c2","type":"function","z":"f6624720.d93fd8","name":"Responder","func":"var json = JSON.parse(msg.payload)\nmsg.token = json.access_token;\nvar hostUrl = global.get('host')+'/mpesa'\nmsg.statusCode = 200;\nmsg.headers = {\n    \"content-type\":\"application/json\",\n    \"Authorization\":'Bearer ' + msg.token\n};\nmsg.url = 'https://sandbox.safaricom.co.ke/mpesa/b2b/v1/paymentrequest'\nmsg.payload = {\n    \"Initiator\": \"testapi752\",\n    \"SecurityCredential\": \"fzkeMmJ3iSmafc75thyGOYDtfOKG818sKqVDHOznW1vzsK+1CVFpFdPdDNASdRaoUfi54GpaF0Nn1EBokA5w9jlXUd7o2oMsod1+5UMfjYu7H+RWR4V/2GZbuVumE4mWdSMdtm3yUmc94lsd8vUTGPBsmJYtM+/VhBQg9kySROg9xtyL+nhh9pLw20yyqlXK2U3X7tbRmSEbgvKxShHjtLoisCohhvgqWvjVOZBzBFYonyPGxQljtTJJSbDu4Pm/LawGiKV+Q3Zm5PuwA+3d86mCBZ/H8A4MZFXANq8JcbPOMCLHAajmFB3wY1Ucxw5nAw+UG19mowx5wSEaMPICwA==\",\n    \"CommandID\": \"DisburseFundsToBusiness\",\n    \"SenderIdentifierType\": \"1\",\n    \"RecieverIdentifierType\": \"4\", \n    \"Amount\": \"100\",\n    \"PartyA\": \"600752\",\n    \"PartyB\": \"600000\",\n    \"AccountReference\": \"\",\n    \"Remarks\": \"testing\",\n    \"QueueTimeOutURL\": hostUrl,\n    \"ResultURL\": hostUrl\n}\nmsg.method = \"POST\"\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":680,"wires":[["6ebe321f.d0f09c"]]},{"id":"6ebe321f.d0f09c","type":"http request","z":"f6624720.d93fd8","name":"","method":"use","ret":"txt","url":"","tls":"","x":930,"y":680,"wires":[["891a27a4.fff438","a913990a.2c7258"]]},{"id":"891a27a4.fff438","type":"debug","z":"f6624720.d93fd8","name":"","active":true,"console":"false","complete":"true","x":1070,"y":720,"wires":[]},{"id":"85500a6b.9b2628","type":"http response","z":"f6624720.d93fd8","name":"","statusCode":"","headers":{},"x":1250,"y":680,"wires":[]},{"id":"d5bf7e28.c3a18","type":"config","z":"f6624720.d93fd8","name":"","properties":[{"p":"host","pt":"global","to":"https://xzbhxwwvho.localtunnel.me","tot":"str"}],"active":true,"x":140,"y":360,"wires":[]},{"id":"decc7c7f.993ec","type":"debug","z":"f6624720.d93fd8","name":"","active":true,"console":"false","complete":"false","x":770,"y":720,"wires":[]},{"id":"31ed7255.96202e","type":"websocket in","z":"f6624720.d93fd8","name":"websocket","server":"ffca117a.bcfbd","client":"","x":440,"y":360,"wires":[["832862af.2958c"]]},{"id":"832862af.2958c","type":"websocket out","z":"f6624720.d93fd8","name":"","server":"ffca117a.bcfbd","client":"","x":610,"y":340,"wires":[]},{"id":"a913990a.2c7258","type":"function","z":"f6624720.d93fd8","name":"handler","func":"\nif(msg.statusCode != 200){\n    msg.statusCode = 200;\n    msg.payload = 'Could not reach network, please try again.'\n    return msg;\n}else{\n    msg.statusCode = 200;\n    msg.payload = 'success!'\n    return msg;\n}","outputs":1,"noerr":0,"x":1100,"y":680,"wires":[["85500a6b.9b2628"]]},{"id":"ffca117a.bcfbd","type":"websocket-listener","z":"","path":"/ws","wholemsg":"false"}]
